.about-container {
    background-image: url("https://i.ibb.co/kcYK42h/bg-about.jpg");
    background-position: center;
    background-size: cover;
    /* height: 500px; */
    text-align: center;
    font-size: 19px;
    padding: 100px;
    font-family:monospace;
    color:aliceblue;
    font-style:oblique;
    /* padding-top: 30px; */
    text-decoration:double;
    width: 100%;
    padding-top: 100px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #E3E09E;

}


.about-text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
}

.about-transparent-box{
    background-color:rgba(216, 170, 129, .6);
}

p {
    padding-bottom: 0px;
    padding-top: 0px;
}