.menu-style {
    background-color:#CA9562;
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: large;
    font-weight: bold;
    background-position: center;
    justify-content: center;
    padding: 30px 20px;
    font-size: medium;
}

h9 {
    background-color:#CA9562; 
    font-size: 40px;
    font-family: 'EB Garamond', serif ;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    color: sienna;

}