.menu-style {
    background-color:#CA9562;
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: large;
    font-weight: bold;
    background-position: center;
    justify-content: center;
    padding: 32px 0px;
}