.banner {
    height: 600px;
    background-image: url(https://images.pexels.com/photos/3095042/pexels-photo-3095042.jpeg?cs=srgb&dl=pexels-vitaly-vlasov-3095042.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

h5 {
    text-align:start;
    color: #644a3f;
    padding-top: 200px;
    padding-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p {
    text-align: start;
    font-size: 20px;
    color: aliceblue;
    padding-top: 0%;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.baner-start {
    background-color:#B89B6E ;
    color: #644a3f;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    /* padding-left: 140px; */
    /* padding-right: 20px; */
    position:absolute;
    margin-left: 120px;
}