.banner {
    height: 600px;
    background-image: url(https://images.pexels.com/photos/3095042/pexels-photo-3095042.jpeg?cs=srgb&dl=pexels-vitaly-vlasov-3095042.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

h5 {
    text-align:start;
    color: #644a3f;
    padding-top: 200px;
    padding-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;

}

p {
    text-align: start;
    font-size: 20px;
    color:antiquewhite;
    padding-top: 12px;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    padding-bottom: 20px;
}

.baner-start {
    background-color:#644a3f9d;
    color: #E3E09E;
    /* width: 60%; */
    position: absolute;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    /* padding-top: 20px; */
    margin-top: 10px;
}

/* .about-transparant-box {
    background-color: #644a3f7c;
} */

