.footer {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: sienna;
    padding: 20px 20px;
    text-align: center;
}

.footer-as {
    font-size: 25px;
    font-family: 'Skranji', cursive;
    font-weight: bolder !important;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    color: #d8aa81;
    padding-bottom: 40px;
    padding-left: 40px;
}

.footer-font {
    font-size: 20px;
    color: #d8aa81;
    text-align:center;
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px;
}

.footer-logo {
    text-decoration: none;
    color: #d8aa81;
    font-size: 13px;
    text-align: center;
    padding-left: 8px;
}