.footer {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: sienna;
    text-align: center;
    padding-top: 20px;
}

/* .footer-as {
    font-size: 27px;
    font-family: 'Skranji', cursive;
    font-weight: bolder !important;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    color: #d8aa81;
    padding-bottom: 40px;
    padding-left: 40px;
} */

.footer-font {
    font-size: 22px;
    color: #d8aa81;
    text-align:center;
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px;
}

.footer-logo {
    text-decoration: none !important;
    /* color: #d8aa81; */
    font-size: 25px;
    text-align: center;
    padding: 10px;
    /* background-color: #d8aa81; */
}

.footer-loc {
    color: #d8aa81;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
}

/* ul {
    text-decoration: none;
    color: #d8aa81;
    font-size: 25px;
    text-align: center;
} */