.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(242, 208, 160);
    align-items: flex-end;
    height: 70px;
}

.navbar-logo {
    display: flex;
    flex-direction: column;

}

.navbar-teks {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: medium;
    padding: 20px 10px;
    justify-content: center;
    align-items: flex-start;

}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
