.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#ca94627e ;
    opacity: 0,5%;
    align-items: center;
    height: 70px;
    top: 0;
    width: 100%;

}

.navbar-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 500px;
    padding-left: 30px;

}

.navbar-teks {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: medium;
    padding: 20px 10px;
    justify-content: center;
    align-items: flex-start;

}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    text-align: end;
    text-decoration: none;
    align-content: space-around;

}

h1 {
    display: flex;
    padding: 7px;
    font-family: 'Limelight', cursive;
    color: #E3E09E;
    padding-top: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
}

ul li {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-between;

}

.menu-span {
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3E09E;
    cursor: pointer;
}

.menu-span:hover {
    color: chocolate !important;
}
